[submodule "extern/uidcore-c"]
	path = extern/uidcore-c
	url = https://github.com/uniquid/uidcore-c.git
[submodule "extern/mongoose"]
	path = extern/mongoose
	url = https://github.com/cesanta/mongoose.git
